@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="GetToKnowJoel">Get to know a little more about Joel</a>
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="EnterNewMovie">Submit another movie you think Joel should watch</a>
</div>

